.hero {
  position: relative;
  max-height: 85vh;
  margin-top: 100px;
  min-height: calc(100vh - 120px);
  display: flex;
  align-items: center;
  text-align: left;
  color: $white;
  overflow: hidden;

  @include media("<lg") {
    margin-top: 100px;
  }

  &__bg {
    position: absolute;
    top: -1;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 0;
  }

  &__content {
    position: relative;
    //max-width: gutter(60);
    z-index: 2;

    // @include media("<lg") {
    //   margin: gutter(20) auto 0;
    // }
  }

  &__title {
    position: relative;
    display: block;
    color: $white;
    font-size: 90px;
    font-weight: $regular;
    font-family: $font-title;

    @include media("<lg") {
      font-size: 70px;
    }

    @include media("<lg") {
      font-size: 50px;
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 1px;
      height: gutter(14);
      background-color: $primary;
      left: 50%;
      top: gutter(20);
    }
  }

  &--dark {
    &::after {
      content: "";
      background: black;
      opacity: 0.6;
      display: block;
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }

  &--small {
    min-height: gutter(60);

    @include media("<lg") {
      min-height: gutter(50);
    }

    @include media("<md") {
      min-height: gutter(40);
    }

    .hero__title {
      &::after {
        height: gutter(10);
        top: gutter(18);

        @include media("<lg") {
          top: gutter(15);
        }

        @include media("<md") {
          top: gutter(12);
          height: gutter(7);
        }
      }
    }
  }
}

.bg-hotel-reservation {
  margin-top: gutter(20) !important;
}
