.offer {
  padding: gutter(12) gutter(3);
  box-shadow: inset 0 0 0 gutter(200) rgba($black, 0.9);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: $white;

  @include media("<md") {
    padding: gutter(5) gutter(1.5);
  }

  &__items {
    width: 60%;

    @include media("<1200px") {
      width: 100%;
    }
  }

  &__slider {
    &-cell {
      width: 33.33%;

      @include media("<md") {
        width: 50%;
      }
    }
  }

  &__item {
    width: 100%;
    display: block;

    &-bg {
      width: 100%;
      height: gutter(50);
      position: relative;
      background-color: $black;

      @include media("<1200px") {
        height: gutter(20);
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.6;
        transition: $transition;
      }
    }

    &-number {
      position: absolute;
      bottom: 0;
      width: 100%;
      display: block;
      text-align: center;
      color: $white;
      transition: $transition;

      &::after {
        display: none;
      }
    }

    &-bar {
      background-color: $gray-dark;
      padding: gutter(2.5) gutter(1);
      text-align: center;
      color: $white;
      font-size: 20px;
      font-weight: $regular;
      transition: $transition;

      @include media("<1200px") {
        font-size: 16px;
        padding: gutter(2) gutter(1);
      }
    }

    &:hover {
      text-decoration: none;

      .offer__item-bg img {
        opacity: 0.2;
      }

      .offer__item-bar {
        background-color: $primary;
      }

      .offer__item-number {
        bottom: 20px;
      }
    }
  }

  &__content {
    width: 40%;
    padding: 0 gutter(3) 0 gutter(12);

    @include media("<1700px") {
      padding: 0 gutter(3) 0 gutter(10);
    }

    @include media("<1600px") {
      padding: 0 gutter(1) 0 gutter(8);
    }

    @include media("<1400px") {
      padding: 0 gutter(1) 0 gutter(5);
    }

    @include media("<1200px") {
      width: 100%;
      padding: 0 gutter(0.5) gutter(5);
      max-width: gutter(80);
      order: -1;
    }
  }

  &__subtitle {
    padding: gutter(5) 0 gutter(3);
    position: relative;
  }

  &__arrows {
    position: absolute;
    top: 0;
    right: 60px;

    @include media("<1200px") {
      display: none;
    }

    &--mobile {
      display: none;

      @include media("<1200px") {
        display: block;
        margin-top: gutter(2);
        margin-bottom: - gutter(3);
      }
    }
  }

  &__prev,
  &__next {
    margin: 0 gutter(1.5);
    color: $primary;

    i {
      font-size: 50px;
      transform: scaleY(0.8);
      transition: transform $transition;
    }

    &:hover {
      text-decoration: none;
      color: $white;

      i {
        transform: translateX(5px);
      }
    }
  }

  &__desc {
    opacity: 0.8;
    font-weight: $light;
  }
}
