.stats {
  margin: auto;
  text-align: center;

  &__desc {
    max-width: gutter(61);
    margin: gutter(4) auto 0;
    display: block;

    @include media("<md") {
      margin: gutter(2) auto 0;
    }
  }

  &__years {
    @include cssLock("font-size", 360, $container, (60, 75));

    font-weight: $bold;
    font-family: $font-title;
    color: $secondary2;
  }

  &__items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    //flex-wrap: wrap;
    margin: gutter(10) auto;

    @include media("<lg") {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0;
      margin: gutter(6) auto;
      max-width: gutter(66);
    }
  }

  &__item {
    display: flex;
    align-items: flex-start;
    padding: 0 gutter(4);
    text-align: left;
    margin: gutter(2) 0;

    @include media("<md") {
      padding: 0 gutter(2);
    }

    img {
      @include media("<=xs") {
        width: gutter(3);
        height: auto;
      }
    }
  }

  &__count {
    padding-left: gutter(2);

    .headline {
      @include media("<=xs") {
        font-size: 18px !important;
      }
    }

    .title {
      @include media("<=xs") {
        font-size: 12px !important;
      }
    }
  }
}
